* {
    box-sizing: border-box;
}

html {
    height: 100%;
    position: relative;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,"Noto Sans JP",sans-serif;
    background-color: #EEE;
}

a {
    cursor: pointer;
}

header .button.user_menu {
    text-align: right;
}

.post_title_wrapper {
    font-size: 1.2rem;
    .post_edit {
        text-align: right;
    }
}
.buttons {
    text-align: center;
}